/* .main {
  background: linear-gradient(90deg, hsla(0, 100%, 74%, 1), hsla(0, 100%, 74%, 1))
  url(../images/bg-intro-desktop.png) no-repeat;
  background-position: center;
  background-size: cover;
} */